.App {
  margin: 1rem;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  background-color: rgb(136, 187, 189);
  height: 5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  margin: auto;
}

h1 {
  display: block;
}

nav a {
  color: white;
}

img {
  height: 600px;
  object-fit: contain;
}

.react-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 50%;
}

.home-links {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-top: 2rem;
}